h1{
    color: #f2e9e4;
    font-family: Lato,sans-serif;
    block-size: auto;
    font-weight: 700;
    font-size: 55px;
    text-align: right;    
}

h2{
    color: #9a8c98;
}

div{
    text-align: right;
}

.category{
    color: #f2e9e4;
    font-family: Lato,sans-serif;
    font-weight: 200;
    text-align: right;
}
